:root {
    --colorwhite: #eee;
    --colorgreen: #20dab2;
    --bgcolor: #eff7fa;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    background: var(--colorwhite);
    font-family: "Amiri", serif;
    margin: 0;
    padding: 0;
  }
  /* start the header */
  header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  /* end the header */
  
  /* start nav */
  nav {
    position: sticky;
    z-index: 1022;
    top: 0;
    background-color: var(--colorgreen);
    display: flex;
    justify-content: space-between;
  
    padding: 0.5rem;
  }
  nav .logo {
    display: none;
  }
  nav button {
    color: var(--colorwhite);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
  }
  nav ul li a {
    text-decoration: none;
  }
  nav ul {
    display: none;
    list-style: none;
    width: 50%;
    transform: translatex(20px);
  }
  nav ul li {
    background-color: var(--colorwhite);
    padding: 0;
    text-align: center;
    margin-top: 2px;
    border-radius: 5px;
  }
  nav ul li:hover {
    transform: translatey(-2px);
    box-shadow: 1px 1px 5px #ddd;
  }
  nav ul li a {
    color: var(--colorgreen);
    font-size: 1rem;
    line-height: 1.6;
  }
  nav button:focus + ul {
    display: block;
  }
  
  form input {
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    color: var(--colorbg);
    background-color: var(--colorwhite);
    padding: 0.5rem;
    box-shadow: 1px 1px 5px #ddd;
    color: var(--colorgreen);
  }
  
  form input:focus {
    outline: none;
  }
  .sign span a {
    text-decoration: none;
    display: none;
  }
  .sign i {
    color: var(--colorwhite);
    margin-right: 1rem;
  }
  .sign i:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 5px #ddd;
  }
  .list_writer{
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(12, auto);
    grid-template-areas:
      "bk1 bk1 bk1 bk1 bk1 bk1 bk1 bk1 bk1 bk1 bk1 bk1 "
      "bk2 bk2 bk2 bk2 bk2 bk2 bk2 bk2 bk2 bk2 bk2 bk2 "
      "bk3 bk3 bk3 bk3 bk3 bk3 bk3 bk3 bk3 bk3 bk3 bk3 "
      "bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 ";
    margin-top: 2rem;
  }

  .list_writer .writer{
    background: var(--bgcolor);
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--colorgreen);
    line-height: 1;
    border-radius: 5px;
    width: 250px;
    overflow: hidden;

  }
  .list_writer .writer:hover {
    box-shadow:  1px 1px 5px var(--colorgreen);
    transform: translateY(-2px);
  }
  .list_writer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #232222;
  }
  
  .list_writer .writer1 {
    grid-area: bk1;
  }
  .list_writer .writer2 {
    grid-area: bk2;
  }
  .list_writer .writer3 {
    grid-area: bk3;
  }
  .list_writer .writer4 {
    grid-area: bk4;
  }
  @media screen and (min-width: 552px) {
    .list_writer {
      grid-template-areas:
        "bk1 bk1 bk1 bk1 bk1 bk1 bk2 bk2 bk2 bk2 bk2 bk2"
        "bk3 bk3 bk3 bk3 bk3 bk3 bk4 bk4 bk4 bk4 bk4 bk4";
      justify-content: space-between;
      width: 90%;
      margin: auto;
      row-gap: 2rem;
      margin-top: 2rem;
    }
  }
  @media screen and (min-width: 769px) {
    .list_writer {
      grid-template-areas:
        "bk1 bk1 bk1 bk1 bk2 bk2 bk2 bk2 bk3 bk3 bk3 bk3"
        "bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4 bk4";
      justify-content: center;
    }
    .list_writer  .writer {
      margin: auto;
      
    } 
  }  
  /* end nav */
  @media screen and (min-width:1200px) {
    
 
   /* start nav */
   nav {
    padding: 0 4.5rem;
    height: 70px;
    align-items: center;
  }
  nav .logo {
    display: block;
  }
  nav .logo img {
    width: 150px;
  }
  nav button {
    display: none;
  }
  nav ul {
    width: 50%;
    display: flex;
    gap: 20px;
  }
  nav ul li {
    background-color: transparent;
  }
  nav ul li a {
    color: var(--colorwhite);
  }
  form {
    transform: translateX(8rem);
  }
  .sign span a {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    display: inline;
  }
  .sign .create {
    background-color: var(--colorwhite);
    color: var(--colorgreen);
  }
  .sign a.sign_in {
    background-color: #ddd;
    color: var(--colorgreen);
  }
  .sign a:hover {
    background-color: var(--colorgreen);
    color: var(--colorwhite);
    box-shadow: 1px 1px 5px #ddd;
    transition: all 0.5s;
  }

  .sign i {
    display: none;
  }
  .sign a i {
    color: var(--colorgreen);
  }
  /* end nav */
  .list_writer {
    grid-template-areas: "bk1 bk1 bk1 bk2 bk2 bk2 bk3 bk3 bk3 bk4 bk4 bk4 ";
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

 }
 .footer {
  background: var(--colorgreen);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--colorwhite);
  padding: 1rem;
}
.footer img {
  width: 200px;
  display: block;
  margin: auto;
}
.footer p {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--bgcolor);
}

.footer .sub:hover {
  color: #413c3c;
}
.footer ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}
.footer ul li a {
  color: var(--colorwhite);
  font-size: 1.2rem;
}
.footer ul li:hover {
  transform: translatey(-2px);
}
.footer ul li a:hover{
  color: #413c3c;
}